*{
    font-family: Arial, sans-serif;
}
body{
    background-color:rgb(26, 3, 37);

}
.container{
    position: absolute;
    justify-content: center;
    justify-items: center;
    background-color:transparent;
    transform: translate(180%, 15%);
    border-radius: 10px;
    border: 2px solid rgb(115, 57, 68);
    width: 250px;
    height: 430px;
}
h1{
    margin-top: 50px;
    color: white;
}
input{
    margin-left: 5px;
    background-color: transparent;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid red;
    display: block;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
button{
    border: none;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    width: 210px;
    font-size: 15px;
    margin-left: 5px;

}
.forgot-password{
    color: red;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}
button:hover{
    background-color: rgb(222, 16, 16);
    padding: 3px;
}

/* Ensure checkbox is inline and not affected by the generic input rule */
input[type="checkbox"]{
    display: inline-block;
    width: auto;
    margin-left: 15px;
    margin-bottom: 7px;
    vertical-align: middle;
    cursor: pointer;
}
   
/* Align the label next to the checkbox */


.sign-in{
text-align: center;
color: white;
}

